## df_pickle_weather
##### I cannot upload the dataset to Jupyter Hub because the size of the csv is too large. Instead, I first clean the data using Jupyter notebook and then upload the cleaned dataset.

In [1]:
import pandas as pd
import datetime
import csv

In [2]:
df_pickle_weather = pd.read_pickle("weather.pkl")

In [3]:
df_pickle_weather.tail(5)

,STATION,NAME,DATE,AWND,PRCP,SNOW,SNWD,TMAX,TMIN
4378,USW00094728,"NY CITY CENTRAL PARK, NY US",2020-12-27,4.03,0.00,0.0,0.0,37,24
4379,USW00094728,"NY CITY CENTRAL PARK, NY US",2020-12-28,5.37,0.00,0.0,0.0,50,35
4380,USW00094728,"NY CITY CENTRAL PARK, NY US",2020-12-29,8.95,0.00,0.0,0.0,43,30
4381,USW00094728,"NY CITY CENTRAL PARK, NY US",2020-12-30,5.14,0.00,NaN,NaN,43,28
4382,USW00094728,"NY CITY CENTRAL PARK, NY US",2020-12-31,5.14,0.48,0.0,0.0,48,36

In [4]:
df_pickle_weather.dtypes

STATION     object
NAME        object
DATE        object
AWND       float64
PRCP       float64
SNOW       float64
SNWD       float64
TMAX         int64
TMIN         int64
dtype: object

##### first choose the wanted study period of the weather data

In [5]:
#format datetime
df_pickle_weather['DATE']=pd.to_datetime(df_pickle_weather['DATE'], format="%Y-%m-%d")

In [6]:
df_pickle_weather_18 = df_pickle_weather[(df_pickle_weather["DATE"] > "2018-7-1") & 
                                         (df_pickle_weather["DATE"] < "2018-8-30")]
#greater than the start date and smaller than the end date
mask_time_18 = (df_pickle_weather['DATE'] >= "2018-7-1") & (df_pickle_weather['DATE'] <= "2018-8-30")
df_pickle_weather_18 = df_pickle_weather.loc[mask_time_18]

In [7]:
df_pickle_weather_19 = df_pickle_weather[(df_pickle_weather["DATE"] > "2019-7-1") & 
                                         (df_pickle_weather["DATE"] < "2019-8-30")]
#greater than the start date and smaller than the end date
mask_time_19 = (df_pickle_weather['DATE'] >= "2019-7-1") & (df_pickle_weather['DATE'] <= "2019-8-30")
df_pickle_weather_19 = df_pickle_weather.loc[mask_time_19]

In [8]:
#Combine these two dataset together
df_weather = df_pickle_weather_18.append(df_pickle_weather_19)

In [12]:
#Fill all NaN value with 0
df_weather.fillna(0)

,STATION,NAME,DATE,AWND,PRCP,SNOW,SNWD,TMAX,TMIN
3468,USW00094728,"NY CITY CENTRAL PARK, NY US",2018-07-01,2.91,0.00,0.0,0.0,96,79
3469,USW00094728,"NY CITY CENTRAL PARK, NY US",2018-07-02,2.01,0.00,0.0,0.0,95,79
3470,USW00094728,"NY CITY CENTRAL PARK, NY US",2018-07-03,1.12,0.01,0.0,0.0,92,77
3471,USW00094728,"NY CITY CENTRAL PARK, NY US",2018-07-04,1.12,0.00,0.0,0.0,86,77
3472,USW00094728,"NY CITY CENTRAL PARK, NY US",2018-07-05,2.91,0.00,0.0,0.0,90,76
...,...,...,...,...,...,...,...,...,...
3889,USW00094728,"NY CITY CENTRAL PARK, NY US",2019-08-26,6.26,0.00,0.0,0.0,74,61
3890,USW00094728,"NY CITY CENTRAL PARK, NY US",2019-08-27,3.13,0.00,0.0,0.0,75,62
3891,USW00094728,"NY CITY CENTRAL PARK, NY US",2019-08-28,3.80,0.08,0.0,0.0,74,67
3892,USW00094728,"NY CITY CENTRAL PARK, NY US",2019-08-29,4.03,0.00,0.0,0.0,81,65
3893,USW00094728,"NY CITY CENTRAL PARK, NY US",2019-08-30,4.03,0.00,0.0,0.0,86,67

##### Select the wanted attribute for analysis

In [14]:
df_weather = df_weather[["DATE", "AWND", "PRCP", "SNOW", "SNWD", "TMAX", "TMIN"]]

In [15]:
df_weather.tail(5)

           DATE  AWND  PRCP  SNOW  SNWD  TMAX  TMIN
3889 2019-08-26  6.26  0.00   0.0   0.0    74    61
3890 2019-08-27  3.13  0.00   0.0   0.0    75    62
3891 2019-08-28  3.80  0.08   0.0   0.0    74    67
3892 2019-08-29  4.03  0.00   0.0   0.0    81    65
3893 2019-08-30  4.03  0.00   0.0   0.0    86    67

In [16]:
df_weather.to_csv("new_df_weather")